**/.git
**/.gitignore
**/__pycache__
**/.dockerignore
**/docker-compose*
**/compose*
**/Dockerfile*
**/.vs
**/.vscode
**/.venv
*.log
**/cache
README.md
.env
.env.example
test/
nginx.conf
GEMINI.md
uv.lock
pyproject.toml
*.pyc
*.pyo
