# config.py
## General
EMBY_SERVER = "http://127.0.0.1:8096"
ALIST_SERVER = "http://127.0.0.1:5244"
ALIST_API_KEY = ""

ENABLE_UA_PASSTHROUGH = false

IGNORE_PATH = "/mnt/localpath/, /mnt/localpath2/"

# 下面两项配置是为了处理挂载路径和Alist路径不一致的情况
# 例如，在emby服务器中，视频路径是 /mnt/movie/xxx，但在alist中，视频路径是 /movie/xxx
# 则需要配置 mount_path_prefix_remove 为 /mnt，该程序会移除文件路径中的 /mnt 部分
# 同理，如果视频路径是 /movie/xxx，但在alist中，视频路径是 /mnt/movie/xxx，则需要配置 mount_path_prefix_add 为 /mnt
# 顺序是先移除，再添加
# 如果你100%确定挂载路径和Alist路径一致，可以忽略这两项配置
MOUNT_PATH_PREFIX_REMOVE = "/"
MOUNT_PATH_PREFIX_ADD = ""

# 是否缓存视频前15秒用于起播加速
CACHE_ENABLE = false
CACHE_NEXT_EPISODE = false
CACHE_PATH = "/app/cache"

LOG_LEVEL = "INFO"

# Experimental Config 试验性选项
## 强制打断连接（用于对range请求适配不佳的客户端）
FORCE_CLIENT_RECONNECT = true
## 仅使用内存缓存
MEMORY_CACHE_ONLY = false

# Advanced Config
# 非必要无需更改
## 1MB
INITIAL_CACHE_SIZE_OF_TAIL = 1048576
## 200KB
CHUNK_SIZE_OF_CHUNKSWITER = 204800

HIGH_COMPAT_MEDIA_CLIENTS = "mpv"
LOW_COMPAT_MEDIA_CLIENTS = "vlc"